body {
  font-family: system-ui, sans-serif;
  padding: 40px;
  background: #f8fafc;
}

form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 600px;
}

button {
  margin-top: 20px;
  padding: 14px;
  width: 100%;
  background: #166534;
  color: white;
  border: none;
  border-radius: 20px;
}

#result {
  margin-top: 40px;
  background: #064e3b;
  color: white;
  padding: 30px;
  border-radius: 20px;
}

