body {
  font-family: system-ui;
  background: #f6f7f8;
  padding: 40px;
}

.back {
  text-decoration: none;
  color: #0f5132;
}

h1 {
  margin-top: 10px;
}

.subtitle {
  color: #555;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 700px;
  margin-top: 30px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: 600;
}

select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
}

fieldset {
  margin-top: 20px;
  border-radius: 10px;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 16px;
  background: #0f5132;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}

.result {
  margin-top: 40px;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

.pro-box {
  margin-top: 40px;
  background: white;
  padding: 30px;
  border-radius: 20px;
}






