body {
  font-family: system-ui;
  background: #f6f7f8;
  margin: 0;
}

.card {
  max-width: 700px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

select, button {
  width: 100%;
  margin: 10px 0;
  padding: 14px;
  border-radius: 10px;
}

button {
  background: linear-gradient(90deg, #0f5132, #1db954);
  color: white;
  border: none;
  font-weight: bold;
}

.pro {
  background: black;
  margin-top: 20px;
}

.hero {
  padding: 80px;
  text-align: center;
  background: #0f5132;
  color: white;
}

.cta {
  background: white;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}





